################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# dependencies
/node_modules

# Ruby / Jekyll
vendor/
.bundle/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# OS / Editor
.DS_Store
Thumbs.db